@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    transition: .5s ease-in-out;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --background: #fdd70b;
    --backgroundSecondary: #fffcdc;
    --cozyBackground: #252525;
    --textSecondary: #fffcdc;
    --white: #fff;
    --red: #ff5050;
    --green: #7cff7c;
    --div: #222222;
    --purp: #51518e;
}

.dark-mode {
    --background: #ff5050;
    --backgroundSecondary: var(--cozyBackground);
    --cozyBackground: #252525;
    --text: #fffcdc;
    --white: #fff;
    --red: #ee211e;
    --green: #7cff7c;
    --bgDark: URL(./../images/bgDark.png);
    --bgContainer: #292929;
    --div: #222222;
}

html {
    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        background: var(--div);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--background);
        border-radius: 10px;
        border: 2.5px solid var(--div);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--backgroundSecondary);
    }

    scroll-behavior: smooth;
    background-image: url(./../images/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    body {
        /* max-height: 100vh; */
        header {
            user-select: none;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 80px;
            background-color: var(--background);
            color: var(--div);
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
            position: relative;


            .themeMode {
                position: absolute;
                right: 20px;
                top: 10px;
                width: 60px;
                height: 60px;
                padding: .5vh;
                border-radius: 20px;
                background-color: var(--cozyBackground);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s ease, transform 0.2s ease;

                span {
                    scale: 1.5;
                    color: var(--textSecondary);
                }

                &:active {
                    transform: scale(0.9);
                }
            }

            .logo {
                position: absolute;
                left: 20px;
                top: 10px;
                width: 60px;
                height: 60px;
                padding: .5vh;
                border-radius: 20px;
                background-color: var(--cozyBackground);
                color: var(--textSecondary);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color 0.3s ease, transform 0.2s ease;

                span {
                    scale: 1.5;
                    color: var(--textSecondary);
                }
            }
        }

        /* Main container */
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-direction: column;

            .contain {
                margin: 10vh 0;
                display: flex;
                flex-direction: column;
                gap: 2vh;
                width: 600px;
                background-color: var(--textSecondary);

                border-radius: 10px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
                color: #ffffff;
                position: relative;
                overflow: hidden;
                padding: 30px 30px;
                height: 120px;
                transition: .5s ease-in-out;

                /* Search box  */
                .search {
                    background-color: var(--cozyBackground);
                    width: 100%;
                    height: min-content;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-radius: 1vh;
                    padding: 1vh;
                    position: relative;

                    input {
                        color: var(--white);
                        background: none;
                        border: none;
                        text-align: center;
                        width: 80%;
                        font-size: 25px;
                        font-weight: bold;
                        text-transform: uppercase;
                        padding-left: 65px;
                        scale: 1;

                        &::placeholder {
                            font-weight: bold;
                        }

                        &:focus {
                            outline: none;
                            scale: 1.05;
                        }
                    }

                    button {
                        transition: .1s ease-in-out;
                        background: var(--background);
                        color: var(--div);
                        cursor: pointer;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: none;

                        span {
                            margin: auto;
                            font-weight: bolder;
                            padding: 5px 8px;
                        }

                        &:hover {
                            background: var(--purp);
                            color: var(--white);
                        }

                        &:active {
                            transform: scale(0.9);
                        }
                    }
                }

                .display {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border-radius: inherit;
                    color: var(--div);

                    /* Definition display */
                    .def {
                        margin-top: 2vh;
                        height: 120%;
                        width: 100%;
                        display: none;
                        flex-direction: column;
                        gap: 2vh;
                        scale: 0;
                        opacity: 0;

                        .word-info {
                            display: flex;
                            flex-direction: column;
                            position: relative;

                            .audioBtn {
                                background: var(--white);
                                color: var(--div);
                                cursor: pointer;
                                width: 50px;
                                height: 50px;
                                border-radius: 50%;
                                border: none;
                                margin-left: 45%;
                                position: absolute;
                                top: 35%;
                                right: 3%;

                                span {
                                    margin: auto;
                                    font-weight: bolder;
                                    padding: 5px 8px;
                                }

                                &:hover {
                                    background: var(--green);
                                }

                                &:active {
                                    transform: scale(0.9);
                                }
                            }
                        }

                        h2,
                        h3 {
                            margin-bottom: 1vh;
                            font-size: 25px;
                            color: var(--white);
                        }


                        div {
                            background-color: var(--div);
                            color: var(--textSecondary);
                            padding: 3vh;
                            border-radius: .5vh;
                        }


                        .part-of-speech {
                            .prtSpeech {
                                font-size: 20px;
                                font-weight: 600;
                                font-style: italic;
                            }
                        }
                    }

                    .not-found {
                        user-select: none;
                        display: none;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        height: 90%;
                        gap: 2vh;
                        color: var(--div);
                        text-align: center;
                        white-space: pre-wrap;
                        width: 100%;
                        scale: 0;
                        opacity: 0;

                        img {
                            width: 70%;
                            margin-left: -5vh;
                        }

                        h3:nth-child(3) {
                            font-size: 20px;
                            font-weight: 400;
                            text-decoration: underline;
                            font-style: italic;
                        }
                    }
                }
            }
        }
    }
}



html.dark-mode {
    background-image: var(--bgDark);

    header {

        button,
        img {
            background-color: var(--cozyBackground);
            color: var(--text);
        }
    }

    .container {

        .contain {
            background-color: var(--bgContainer);
            color: var(--text);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

            .search {
                background-color: var(--white);

                input {
                    color: var(--div);
                }
            }

            div {
                background: none;
            }

            .display {
                .def {
                    div {
                        background-color: var(--div);
                    }

                    .word-info {
                        .audioBtn {
                            color: var(--div);
                        }
                    }
                }

                .not-found {
                    color: var(--white);
                }
            }
        }
    }
}




.fade-in {
    animation: .5s fadeIn forwards;
    animation-delay: .3s;
}



@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}



@media screen and (max-width: 900px) {
    html {
        body {
            header {
                font-size: 15px;

                .themeMode,
                .logo {
                    width: 50px;
                    height: 50px;
                    padding: 0;
                    border-radius: 10px;

                    span {
                        scale: 1;
                    }
                }
            }

            .container {
                width: 100%;

                .contain {
                    width: 100%;
                    height: fit-content !important;
                }
            }
        }

    }

}